@namespace "library://ns.adobe.com/flex/mx";
@namespace s "library://ns.adobe.com/flex/spark";

VBox.currentSection {	
	fillColors: #ffffff, #666666;
	fillAlphas: 0.3,.5;
}

VBox.pastSection {
	fillColors: #ffffff, #ffffff;
	fillAlphas: 0.3,.3;
}

VBox.futureSection {
	fillColors: #ffffff, #ffffff;
	fillAlphas: 0.3,.3;
}

Label.currentSection {
	color: white;
}

Label.pastSection {
	color: white;
}

Label.futureSection {
	color: gray;
}

