@namespace "library://ns.adobe.com/flex/mx";

Application {
	backgroundColor: #000000;
	backgroundGradientColors: #ddc392, #b7ab94;
	backgroundGradientAlphas: 1, 1;
	themeColor: #9e423a;
	color: #155353;
}

Canvas {
	headerHeight: 0;
	padding: 0;
	roundedBottomCorners: false;
	cornerRadius: 0;
	dropShadowEnabled: false;
	borderThickness: 0;
}

Panel {
	paddingTop : 10;
	paddingBottom : 10; 
	paddingLeft : 10;
	paddingRight : 10; 
	horizontalAlign : center;
	verticalAlign: middle;
	borderThickness: 0;
	borderStyle: solid;
	borderAlpha: 0.31;
	roundedCorners: true;
	cornerRadius: 8;
	headerHeight: 24;
	backgroundAlpha: 0.6;
	highlightAlphas: 0.5, 0;
	headerColors: #e7e7e7, #d9d9d9;
	dropShadowEnabled: false;
	textAlign: center;
}

TextInput {
	fontSize: 16;
}

Label.title {
	fontSize: 38;
	verticalAlign: middle;
	color: white;
}

Label.section {
	fontSize: 20;
	horizontalAlign: middle;
	color: black;
	textAlign: center;
}

Button {
	fontSize: 16;
}

Button.menu {
	fontSize: 20;
}


Panel.speech {
	padding : 20;
	horizontalAlign : right;
	verticalAlign: middle;
	borderThickness: 0;
	roundedCorners: true;
	cornerRadius: 20;
	headerHeight: 0;
	backgroundAlpha: 0.9;
	dropShadowEnabled: true;
	textAlign: left;
	backgroundColor: white;
	horizontalScrollPolicy: none;
	verticalScrollPolicy: none;
}

Text.speech {
	fontSize: 14;
	backgroundColor: white;
	color: black;
	backgroundAlpha: .8;
}

Label.speechInstruction {
	fontSize: 14;
	color: #303030;
	fontStyle: italic;
}

Label.sentence {
	fontSize:24 ;
	fontStyle: bold;
	textAlign: center;
}

Label.vocab {
	fontSize:18 ;
	fontStyle: bold;
	textAlign: center;
}

.unused {
	upSkin: ClassReference("mx.skins.ProgrammaticSkin");
	downSkin: ClassReference("mx.skins.ProgrammaticSkin");
	overSkin: ClassReference("mx.skins.ProgrammaticSkin");
	disabledSkin: ClassReference("mx.skins.ProgrammaticSkin");
}

.videoButton {
	fillAlphas: 0,0, 0,0;
	highlightAlpha: 0.0, 0.2;
	focusAlpha: .2;
}

Button.emphasized {
	borderColor: red;
}

LinkButton {
	skin: ClassReference("skins.ToggleLinkButtonSkin");
}

